@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims

@if (authorized)
{
	<a class="dropdown-item" href="admin/categories">Categorii</a>
	<a class="dropdown-item" href="admin/product-types">Tipuri de produse</a>
	<a class="dropdown-item" href="admin/products">Produse </a>
	<hr />
}



@code {
	bool authorized = false;

	protected override async Task OnInitializedAsync()
	{
		string role = (await AuthStateProvider.GetAuthenticationStateAsync())
				.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;
		if (role.Contains("Admin"))
		{
			authorized = true;
		}
	}
}
