@inject NavigationManager NavigationManager

<button @onclick="GotoHome"
       class="btn btn-outline-primary home-button">
   ImpTech
   </button>


@code {
    private void GotoHome()
    {
        NavigationManager.NavigateTo("");
    }

}
