@page "/admin/product-types"
@inject IServiciulTipuriDeProduse ServiciulTipuriDeProduse
@implements IDisposable
@attribute [Authorize(Roles ="Admin")]


<h3>Tipuri de produse</h3>

<button class="btn btn-primary add-button" @onclick="CreateNewProductType">
    <i class="oi oi-plus"></i> Adauga un nou tip de produse
</button>

@foreach (var productType in ServiciulTipuriDeProduse.ProductTypes)
{
    @if (productType.Editing)
    {
        <EditForm Model="editingProductType" OnSubmit="UpdateProductType">
            <div class="product-type-row">
                <div class="col">
                    <InputText @bind-Value="editingProductType.Name" class="form-control"></InputText>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">
                        <i class="oi oi-cloud-upload"></i> Actualizeaza
                    </button
                     
                </div>
            </div>
        </EditForm>
    }
    else
    {
        <div class="product-type-row">
            <div class="product-type-name">
                @productType.Name
            </div>
            <div>
                <button class="edit-button" @onclick="@(() => EditProductType(productType))">
                    <i class="oi oi-pencil"></i> Editeaza
                </button>
            </div>
        </div>
    }
}




@code {
	ProductType editingProductType = null;

	protected override async Task OnInitializedAsync()
	{
		await ServiciulTipuriDeProduse.GetProductTypes();
		ServiciulTipuriDeProduse.OnChange += StateHasChanged;
	}
	public void Dispose()
	{
		ServiciulTipuriDeProduse.OnChange -= StateHasChanged;
	}

	private void EditProductType(ProductType productType)
	{
		productType.Editing = true;
		editingProductType = productType;
	}

	private void CreateNewProductType()
	{
		editingProductType = ServiciulTipuriDeProduse.CreateNewProductType();
	}

	private async Task UpdateProductType()
	{
		if (editingProductType.IsNew)
			await ServiciulTipuriDeProduse.AddProductType(editingProductType);
		else
			await ServiciulTipuriDeProduse.UpdateProductType(editingProductType);

		editingProductType = new ProductType();
	}

   
}
